*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #202124;
    --background: #ADB2BD;

    --light-color: #EBD781;
    --light-shadow: rgba(236,215,128,.5);
    --light-top: black;
}

body {
    color:var(--main-text);
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    font-family: sans-serif;
}


/* Scherm bovenkant */
header {
    background-color: var(--main-color);
    width: 100%;
    aspect-ratio: 2/1;
    margin: 0 auto;
    max-width: 600px;
    position: relative;
}


/* //////////////// */
/*     Lampie       */
/* //////////////// */
header > section div {
    height: 2.5rem;
    aspect-ratio: 1/1;
    background-color: var( --light-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0em .5em 5em 5em var(--light-shadow);
    transition: 1s;
}

header > section div:after {
    content: "";
    position: absolute;
    height: 2.5rem;
    aspect-ratio: 1/2;
    background-color: var(--light-color);
    background: linear-gradient(180deg,
        var(--light-top) 0%,
        var(--light-top) 42.5%,
        var( --light-color) 42.5%,
        var( --light-color) 100%);
    left: 50%;
    top: -50%;
    transform: translateX(-50%);
    border-radius: .5em .5em 0 0;
}

header > section div:before {
    content: "";
    position: absolute;
    height: 2.5rem;
    width: .175em;
    height: 10em;
    background-color: var(--light-top);
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
}


/* //////////////// */
/*       Main       */
/* //////////////// */
main {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;

}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    align-items: center;
}

p {
    padding: 1em;
    background-color: black;
    color: yellowgreen;
}

form input[type="checkbox"] {
    display: none;
}

form label  {
    cursor: pointer;
}


/*       Aan knop       */
body:has(#bigred:checked) header > section div {
    --light-color: white;
    opacity: .2;
}

body:has(#bigred:checked) form label:first-of-type {
    box-shadow: 0 0 0;
}

body:has(#bigred:checked) form label:first-of-type::after {
    top: 0;
    box-shadow: inset .1em .1em .2em black;
}

form label:first-of-type {
    width: 5em;
    aspect-ratio: 1/1;
    background: hsl(340deg 100% 32%);
    border-radius: 50%;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translateX(-50%);
    box-shadow: .1em .3em 2em;
    transition: .2s;
}

form label:first-of-type::after {
    content: "";
    width: 5em;
    aspect-ratio: 1/1;
    background: hsl(345deg 100% 47%);
    border-radius: 50%;
    position: absolute;
    top: -.5em;
}



/*       Omhoog & Omlaag      */
form label:nth-of-type(2) {
    width: 7.5em;
    aspect-ratio: 1/2;
    background: linear-gradient(
        to right,
        var(--background) 7.5% 0,
        silver 7.5% 32.5%,
        var(--background) 32.5% 67.5%,
        silver 67.5% 92.5%,
        var(--background) 92.5% 0); 
    position: relative;
    border-radius: .5em;
    left: 20%;
    top: 5em;
    transform-style:preserve-3d;
    perspective: 10em;
    box-shadow:inset .2em .1em 2em;
}

/* De handle */
form label:nth-of-type(2)::after {
    content: "";
    width: 10em;
    display: block;
    aspect-ratio: 3/1;
    background: linear-gradient(black 75%, black); 
    position: absolute;
    border-radius: .5em;
    left: 50%;
    box-shadow: .5em .5em 1em;
    animation:handle .5s ease-in reverse forwards;
}

body:has(#updown:checked) form label:nth-of-type(2)::after  {
    animation:handle-reverse .5s ease-out forwards;
}


/* Stokjes */
form label:nth-of-type(2)::before {
    content: "";
    position: absolute;
    display: block;
    width: 6em;
    aspect-ratio: 1/1.4;
    left: 50%;
    top:20%;
    transform: translateX(-50%);
    background: linear-gradient(
        to left,
        black 25% 0,
        transparent 0 75%,
        black 75% 0); 
    animation: switch .5s ease-in reverse forwards;
}

body:has(#updown:checked) form label:nth-of-type(2)::before  {
    animation: switch-reverse .5s ease-out forwards;
}

@keyframes switch {
    0% {
        transform: translateX(-50%) rotateX(-170deg);
    }
    50% {
        transform: translateX(-50%) rotateX(-40deg);
    }
    100% {
        transform: translateX(-50%) rotateX(-10deg);  
    }
}

@keyframes switch-reverse {
    0% {
        transform: translateX(-50%) rotateX(-170deg);
    }
    50% {
        transform: translateX(-50%) rotateX(-130deg);
    }
    100% {
        transform: translateX(-50%) rotateX(-10deg); 
    }
}

@keyframes handle {
    0% {
        transform: translateY(10em) translateX(-50%);
    }
    50% {
        transform: translateY(2em) translateX(-50%);
    }
    100% {
        transform: translateY(0em) translateX(-50%);
    }
}


@keyframes handle-reverse {
    0% {
        transform: translateY(10em) translateX(-50%);
    }
    50% {
        transform: translateY(8em) translateX(-50%);
    }
    100% {
        transform: translateY(0em) translateX(-50%);
    }
}

body:has(#updown:checked) header section > div {
    transform: translateX(-50%) translateY(-550%);
}



/*     Range slider      */
form input[type="range"] {
    cursor: pointer;
    grid-area: 1/-1;
    appearance: none;
    outline: none;
    height: 1em;
    aspect-ratio: 20/1;
    position: relative;
    right: -25%;
    transform: rotate(-90deg) translateX(-5em);
    background: grey;
    box-shadow: inset .1em .1em 1em;
}

form input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 2.5em;
    aspect-ratio: 1/1;
    background: linear-gradient(
        #556b2f 20%,
        grey  20% 40%,
        #556b2f 40% 60%,
        grey  60% 80%,
        #556b2f 80% 0
         ); 
    box-shadow:  .1em .1em .2em;
    padding: .2em;
}

head[data--x="10"] + body header > section div {
    animation: lamponoff 1.5s ease-out infinite;
}

head[data--x="9"] + body header > section div {
    opacity: 1;
}

head[data--x="8"] + body header > section div {
    opacity: .8;
}

head[data--x="7"] + body header > section div {
    opacity: .75;
}

head[data--x="6"] + body header > section div {
    opacity: .7;
}

head[data--x="5"] + body header > section div {
    opacity: .65;
}

head[data--x="4"] + body header > section div {
    opacity: .6;
}

head[data--x="3"] + body header > section div {
    opacity: .5;
}

head[data--x="2"] + body header > section div {
    opacity: .4;
}

head[data--x="1"] + body header > section div {
    opacity: .3;
}

head[data--x="0"] + body header > section div {
    opacity: .1;
}

@keyframes lamponoff {
    10% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    30% {

    }
    40% {

    }
    50% {
        opacity: .2;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: .2;
    }
    80% {
        opacity: 1;
    }
    90% {

    }
    100% {
        opacity: 1; 
    }
}



/*       Kleuren      */
form label:nth-of-type(3) {
    width: 2em;
    aspect-ratio: 1/1;
    background-color: dodgerblue;
    border-radius: 50%; 
}

body:has(#kleur1:checked) header > section div {
    --light-color: dodgerblue;
    --light-shadow: rgba(29,139,245,.5);
}

form label:nth-of-type(4) {
    width: 2em;
    aspect-ratio: 1/1;
    background-color: crimson;
    border-radius: 50%; 
}

body:has(#kleur2:checked) header > section div {
    --light-color: crimson;
    --light-shadow: rgba(220,19,60,.5);
}


form label:nth-of-type(5) {
    width: 2em;
    aspect-ratio: 1/1;
    background-color: greenyellow;
    border-radius: 50%; 
}

body:has(#kleur3:checked) header > section div {
    --light-color: greenyellow;
    --light-shadow: rgba(173,255,46,.5);
}