*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #202124;
    --background: white;

    --light-color: #EBD781;
    --light-shadow: rgba(236,215,128,.5);
    --light-top: black;
}

body {
    color:var(--main-text);
    display: flex;
    flex-direction: column;
    background-color: #616161;
    font-family: sans-serif;
}


/* Scherm bovenkant */
header {
    background-color: var(--main-color);
    width: 100%;
    aspect-ratio: 2/1;
    margin: 0 auto 2em auto;
    max-width: 600px;
    position: relative;
    border: .5em solid #e0e0e0;
    box-shadow: 12px 8px 1em rgba(0,0,0,0.1) inset,
    -12px -8px 26px rgba(0,0,0,0.4) inset,
    0 0 2px 0 rgba(0,0,0,0.5) inset,
    1px 1px 4px rgba(0,0,0,0.5),
    .2em .2em .5em grey inset;
    border-radius: 2em;

}


/* //////////////// */
/*     Lampie       */
/* //////////////// */
header > section div {
    height: 2.5rem;
    aspect-ratio: 1/1;
    background-color: var( --light-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0em .5em 5em 5em var(--light-shadow);
    transition: 1s;
    z-index: 2;
}

header > section div:after {
    content: "";
    position: absolute;
    height: 2.5rem;
    aspect-ratio: 1/2;
    background-color: var(--light-color);
    background: linear-gradient(180deg,
        var(--light-top) 0%,
        var(--light-top) 42.5%,
        var( --light-color) 42.5%,
        var( --light-color) 100%);
    left: 50%;
    top: -50%;
    transform: translateX(-50%);
    border-radius: .5em .5em 0 0;
    z-index: 1;
}

header > section div:before {
    content: "";
    position: absolute;
    height: 2.5rem;
    width: .175em;
    height: 10em;
    background-color: var(--light-top);
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    z-index: 1;
}


/* //////////////// */
/*       Main       */
/* //////////////// */
main {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;

}

main > section {
    height: 100%;
    padding: 1em;
    background-color: #e0e0e0;
    border-radius: 2em;
    position: relative;
    box-shadow: 12px 8px 1em rgba(0,0,0,0.1) inset,
    -12px -8px 26px rgba(0,0,0,0.4) inset,
    0 0 2px 0 rgba(0,0,0,0.5) inset,
    1px 1px 4px rgba(0,0,0,0.5);
}

form {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    margin-top: 1em;
    position: relative;
    place-content: center;
}

p {
    background-color: #202124;
    color: yellowgreen;
    padding: 1em;
    grid-area: 1 / span 2;
    height: 3.5em;
    margin: 1em 3em;
    border: .25em solid silver;
    box-shadow: inset .2em .2em .2em grey,
    .2em .1em .2em grey;
}

p::before {
    content: "Status: On";
}

p::after {
    content: "";
    position: absolute;
    right:1em;
}

form input[type="checkbox"] {
    display: none;
}

form label  {
    cursor: pointer;
}

main > section div {
    width: 1em;
    height: 1em;
    background: conic-gradient(
        grey 0%
    );
    position: absolute;
    border-radius: 50%;
    box-shadow: 12px 8px 1em rgba(0,0,0,0.1) inset,
    -12px -8px 26px rgba(0,0,0,0.4) inset,
    0 0 2px 0 rgba(0,0,0,0.5) inset,
    1px 1px 4px rgba(0,0,0,0.5);
    transform-style:preserve-3d;
}

main > section div:nth-of-type(1) {
    top: 1em;
    left: 1em;
}

main > section div:nth-of-type(2) {
    top: 1em;
    right: 1em;
  
}

main > section div:nth-of-type(3) {
    bottom: 1em;
    left: 1em;
}

main > section div:nth-of-type(4) {
    bottom: 1em;
    right: 1em; 
}


/*       Aan knop       */
body:has(#bigred:checked) header > section div {
    --light-color: white;
    opacity: .2;
}

body:has(#bigred:checked) form > label:first-of-type {
    box-shadow: 0 0 0;
}

body:has(#bigred:checked) form > label:first-of-type::after {
    top: 0;
    box-shadow: inset .1em .1em .2em black;
}

body:has(#bigred:checked) p::before {
    content: "Status: Off"
}

form > label:first-of-type {
    width: 5em;
    aspect-ratio: 1/1;
    background: hsl(340deg 100% 32%);
    border-radius: 50%;
    display: grid;
    place-self: center;
    box-shadow: .1em .3em 2em;
    transition: .2s;
    transform: translateY(0%);
}

form > label:first-of-type::after {
    content: "";
    width: 5em;
    aspect-ratio: 1/1;
    background: hsl(345deg 100% 47%);
    border-radius: 50%;
    position: absolute;
    top: -.5em;
}



/*       Omhoog & Omlaag      */
form > label:nth-of-type(2) {
    width: 7.5em;
    aspect-ratio: 1/2;
    background: linear-gradient(
        to right,
        var(--background) 0% 7.5%,
        silver 10% 27.5%,
        var(--background) 32% 67.5%,
        silver 72.5% 90%,
        var(--background) 95% 0); 
    border-radius: .5em;
    left: 20%;
    top: 5em;
    display: grid;
    place-self: center;
    transform-style:preserve-3d;
    perspective: 10em;
    box-shadow:inset .2em .1em 2em;

}

/* Stokjes */
form > label:nth-of-type(2)::after {
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    width: 6em;
    aspect-ratio: 1/1.4;
    left: 50%;
    top:20%;
    background: linear-gradient(
        to left,
        grey 2.5%,
        white 12.5%,
        grey 25%,
        transparent 0 75%,
        grey 77.5%,
        white 95%,
        grey 100%); 
    animation: switch .5s ease-in reverse forwards;
}

body:has(#updown:checked) form label:nth-of-type(2)::after  {
    animation: switch-reverse .5s ease-out forwards; 
}

/* De handle */
form > label:nth-of-type(2)::before {
    content: "";
    width: 10em;
    display: block;
    aspect-ratio: 3/1;
    background: linear-gradient(
        grey 25%,
        silver 75%,
        grey 100%); 
    position: absolute;
    z-index: 2;
    border-radius: .5em;
    left: 50%;
    top:1.5em;
    box-shadow: .5em .5em 1em;
    animation:handle .5s ease-in reverse forwards;
}

body:has(#updown:checked) form label:nth-of-type(2)::before  {
    animation:handle-reverse .5s ease-out forwards;
}

@keyframes switch {
    0% {
        transform: translateX(-50%) rotateX(-150deg);
    
    }
    50% {
        transform: translateX(-50%) rotateX(-40deg);

    }
    100% {
        transform: translateX(-50%) rotateX(-10deg);
    
    }
}

@keyframes switch-reverse {
    0% {
        transform: translateX(-50%) rotateX(-170deg);
   
    }
    50% {
        transform: translateX(-50%) rotateX(-130deg);

    }
    100% {
        transform: translateX(-50%) rotateX(-10deg);
      
    }
}

@keyframes handle {
    0% {
        transform: translateY(10em) translateX(-50%) translateZ(0);
       
    }
    50% {
        transform: translateY(2em) translateX(-50%) translateZ(4em);
    }
    100% {
        transform: translateY(0em) translateX(-50%) translateZ(0);
             top: -.5em; 
    }
}


@keyframes handle-reverse {
    0% {
        transform: translateY(10em) translateX(-50%) translateZ(0);
    }
    50% {
        transform: translateY(8em) translateX(-50%) translateZ(4em);
    }
    100% {
        transform: translateY(0em) translateX(-50%) translateZ(0);
            top: -.5em; 
    }
}

body:has(#updown:checked) header section > div {
    transform: translateX(-50%) translateY(-550%);
}



/*     Range slider      */
form > section {
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
    position: relative;
}

form input[type="range"] {
    cursor: pointer;
    appearance: none;
    outline: none;
    height: 1em;
    position: absolute;
    aspect-ratio: 17/1;
    transform: rotate(-90deg) translateX(-5em);
    background: linear-gradient(
    silver 35% 0,
    black 40% 60%,
    silver 65% 0);
    box-shadow: inset .1em .1em 1em;
}

form input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 2.5em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: conic-gradient(
        silver 20%,
        grey 40%,
        silver 60%,
        grey 80%,
        silver 100%
         ); 
    box-shadow:  .1em .1em .2em;
    padding: .2em;
}

head[data--x="10"] + body header > section div {
    animation: lamponoff 1.5s ease-out infinite, bulbMovement 3s ease-in-out infinite;
}

head[data--x="10"] + body p::after {
    content: "Warning";
    right: 4em;
    animation: warning 2s infinite;
}

head[data--x="9"] + body header > section div {
    opacity: 1;
}

head[data--x="8"] + body header > section div {
    opacity: .8;
}

head[data--x="7"] + body header > section div {
    opacity: .75;
}

head[data--x="6"] + body header > section div {
    opacity: .7;
}

head[data--x="5"] + body header > section div {
    opacity: .65;
}

head[data--x="4"] + body header > section div {
    opacity: .6;
}

head[data--x="3"] + body header > section div {
    opacity: .5;
}

head[data--x="2"] + body header > section div {
    opacity: .4;
}

head[data--x="1"] + body header > section div {
    opacity: .3;
}

head[data--x="0"] + body header > section div {
    opacity: .1;
}

@keyframes lamponoff {
    10% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    30% {

    }
    40% {

    }
    50% {
        opacity: .2;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: .2;
    }
    80% {
        opacity: 1;
    }
    90% {

    }
    100% {
        opacity: 1; 
    }
}

@keyframes warning {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
} 

@keyframes bulbMovement {
    0% {
        transform:  perspective(5em) translateZ(1em) translateX(-50%) translateY(-50%);
    }
    50% {
        transform:  perspective(2em) translatez(-1em) translateX(-50%) translateY(-50%);
    }
    100% {
        transform:  perspective(5em) translatez(1em) translateX(-50%) translateY(-50%);
       
    }
}



/*       Kleuren      */
form section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

form section:nth-of-type(2) label {
    width: 3em;
    aspect-ratio: 1/1;
    border-radius: 50%; 
    box-shadow:
    -1em -1em 1.5em rgba(255,255,255,0.5),
    1em 1em 1.5em rgba(70,70,70,0.15);
    border: .5em solid #ececec;
    transition: .3s;
}

body:has(#kleur1:checked:checked) form section:nth-of-type(2) label:nth-of-type(1),
body:has(#kleur2:checked:checked) form section:nth-of-type(2) label:nth-of-type(2),
body:has(#kleur3:checked:checked) form section:nth-of-type(2) label:nth-of-type(3) {
    box-shadow:
    -1em -1em 1.5em rgba(255,255,255,0.5),
    1em 1em 1.5em rgba(70,70,70,0.15),
    inset -1em -1em 1.5em rgba(255,255,255,0.5),
    inset 1em 1em 1.5em rgba(70,70,70,0.15);
}

form section:nth-of-type(2) label:nth-of-type(1) {
    background-color: dodgerblue;
}

body:has(#kleur1:checked) header > section div {
    --light-color: dodgerblue;
    --light-shadow: rgba(29,139,245,.5);
}

form section:nth-of-type(2) label:nth-of-type(2) {
    background-color: crimson;
}

body:has(#kleur2:checked) header > section div {
    --light-color: crimson;
    --light-shadow: rgba(220,19,60,.5);
}


form section:nth-of-type(2) label:nth-of-type(3) {
    background-color: greenyellow;
}

body:has(#kleur3:checked) header > section div {
    --light-color: greenyellow;
    --light-shadow: rgba(173,255,46,.5);
}

@media only screen and (max-width: 450px) { 
    form {
        display: flex;
        flex-direction: column;
        gap: 2.5em;
    }

    form > section {
        aspect-ratio: 0;
        justify-items: center;
        margin-bottom: 2em;
    }

    form input[type="range"] {
        transform: rotate(0) translateX(-50%);
        left: 50%;
    }
}